In [2]:
import numpy as np
import pandas as pd

In [5]:
mu, sigma = 0, 0.1 # mean and standard deviation
x_class1 = np.random.normal(-1, 0.5, size = [1000,2])
y_class1 = np.zeros(1000)
x_class2 = np.random.normal(1, 0.5, size = [1000,2])
y_class2 = np.ones(1000)

In [13]:
str(x_class1)

'[[-0.71559033 -0.88070962]\n [-1.02990179 -0.9457036 ]\n [-0.9605757  -0.74919506]\n ...\n [-1.74247504 -1.33914696]\n [-0.65515375 -0.28551665]\n [-0.58587917 -1.16262942]]'

In [49]:
train_dict = {"x": [str(x.tolist()) for x in np.concatenate((x_class1, x_class2))], 
      "y": np.concatenate((y_class1, y_class2))}

In [56]:
train_df = pd.DataFrame.from_dict(train_dict)

In [57]:
test_d = {"x": np.array(['[-1., -1.]','[1., 1.]']), 
  "y": np.array([0,1])}

In [58]:
test_df = pd.DataFrame.from_dict(test_d)

In [59]:
train_df.to_csv("../data/2D_1000sample_2class_train.csv")

In [60]:
test_df.to_csv("../data/2D_1000sample_2class_test.csv")

In [61]:
train_df

                                                x    y
0       [-0.7155903261257552, -0.880709621580645]  0.0
1      [-1.0299017852289423, -0.9457035981394053]  0.0
2       [-0.9605756958677788, -0.749195061815823]  0.0
3     [-0.19850850378008655, -0.2879290589794897]  0.0
4       [-2.220616628661944, -0.8048836480699838]  0.0
...                                           ...  ...
1995      [1.098108034005638, 1.0550218854437536]  1.0
1996     [0.6253098757542184, 1.3319311550770636]  1.0
1997     [1.1180906909627757, 0.7042493696278938]  1.0
1998    [0.8878614719799565, 0.26596265245876216]  1.0
1999     [1.1318337379898753, 0.2719989189268417]  1.0

[2000 rows x 2 columns]