In [20]:
import numpy as np
import pandas as pd

In [21]:
mu, sigma = 0, 0.1 # mean and standard deviation
x_class1 = np.random.normal(-1, 0.5, 1000)
y_class1 = np.zeros(1000)
x_class2 = np.random.normal(1, 0.5, 1000)
y_class2 = np.ones(1000)

In [23]:
d = {"x": np.concatenate((x_class1, x_class2)), 
  "y": np.concatenate((y_class1, y_class2))}

In [26]:
train_df = pd.DataFrame.from_dict(d)

In [27]:
train_df

             x    y
0    -1.196617  0.0
1    -0.658992  0.0
2    -1.354089  0.0
3    -0.851852  0.0
4    -0.620127  0.0
...        ...  ...
1995  2.049049  1.0
1996  0.611233  1.0
1997  0.460268  1.0
1998  0.661395  1.0
1999  0.967635  1.0

[2000 rows x 2 columns]

In [31]:
test_d = {"x": np.array([-1,1]), 
  "y": np.array([0,1])}

In [32]:
test_df = pd.DataFrame.from_dict(test_d)

In [ ]:
train_df.to_csv("")